spring:
  application:
    name: customer
  datasource:
    url: jdbc:h2:mem:devDb
  h2:
    console:
      enabled: true
      path: /h2-console
  config:
    import: "optional:configserver:http://localhost:9999"
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health, refresh
